# Credenciales BNB sandbox (las que te dio el banco)
BNB_ACCOUNT_ID=
BNB_AUTHORIZATION_ID=

# Para producción cambiar a https://www.bnb.com.bo
BNB_BASE_URL=http://test.bnb.com.bo

# Puerto del servidor
PORT=8080
