# Credenciales BNB sandbox (las que te dio el banco)
BNB_ACCOUNT_ID=Fc4iMGI04jMgRmYg2NB5eg==
BNB_AUTHORIZATION_ID=Vl6/Dkql9SlS9FvCa/9SVw==

# Para producción cambiar a https://www.bnb.com.bo
BNB_BASE_URL=http://test.bnb.com.bo

# Puerto del servidor
PORT=8080
